.header {
  border-bottom: 1px solid var(--border-color-subtle);
  background-color: var(--color-bg-primary);
  color: var(--color-accent-gold);
  padding-block: var(--spacing-md);
  padding-inline: var(--spacing-lg);

  &__inner {
    display: flex;
    gap: var(--spacing-sm);
    align-items: end;

    @media (width < 375px) {
      align-items: center;
    }
  }

  &__logo {
    width: 36px;
    height: 36px;

    @media (width > 768px) {
      width: 40px;
      height: 40px;
    }
  }

  &__title {
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.01em;

    @media (width < 375px) {
      font-size: 1.25rem;
    }

    @media (width > 768px) {
      font-size: 1.7rem;
    }

    &--big {
      position: relative;
      font-size: 1.4em;
      top: 0.04em;
    }
  }
}
