.characters {
  &__link {
    display: flex;
    gap: var(--spacing-lg);
    padding-block: var(--spacing-md);
    padding-inline: var(--spacing-md);
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  &__img {
    flex-shrink: 0;
    width: 120px;
    aspect-ratio: 210 / 295;
    object-fit: cover;
    border-radius: var(--border-radius-card);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: var(--spacing-lg);
  }

  &__name {
    font-family: var(--font-heading);
    font-size: 1.25rem;
    color: var(--color-accent-gold);
    text-transform: uppercase;
  }
}
