@use './styles/core/reset';
@use './styles/core/globals';
@use './styles/core/variables';
@use './styles/utilities/accessibility';

.hero {
  padding-inline: var(--spacing-xl);
  padding-top: var(--spacing-md);

  @media (width > 1228px) {
    padding-inline: 0;
  }

  &__title {
    padding-bottom: var(--spacing-xs);
    color: var(--color-accent-gold);
    font-family: var(--font-heading);
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.01em;

    @media (width > 768px) {
      font-size: 1.5rem;
    }

    &--big {
      font-size: 1.3em;
    }
  }

  &__text {
    font-size: 0.85rem;
  }
}
